In [23]:
## for eda and visuls:
import pandas as pd

In [24]:
df=pd.read_csv("data set/_All_Cities_Cleaned.csv")


df.head()

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,city
0,OWNER,2.0,BHK,Apartment,Bodakdev,20000.0,1450.0,Furnished,2.0,Ahmedabad
1,OWNER,1.0,RK,Studio Apartment,CG Road,7350.0,210.0,Semi-Furnished,1.0,Ahmedabad
2,OWNER,3.0,BHK,Apartment,Jodhpur,22000.0,1900.0,Unfurnished,3.0,Ahmedabad
3,OWNER,2.0,BHK,Independent House,Sanand,13000.0,1285.0,Semi-Furnished,2.0,Ahmedabad
4,OWNER,2.0,BHK,Independent House,Navrangpura,18000.0,1600.0,Furnished,2.0,Ahmedabad

In [25]:
df.drop_duplicates(inplace = True)

##  01. Handle outliers:

In [26]:
df.head()

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,city
0,OWNER,2.0,BHK,Apartment,Bodakdev,20000.0,1450.0,Furnished,2.0,Ahmedabad
1,OWNER,1.0,RK,Studio Apartment,CG Road,7350.0,210.0,Semi-Furnished,1.0,Ahmedabad
2,OWNER,3.0,BHK,Apartment,Jodhpur,22000.0,1900.0,Unfurnished,3.0,Ahmedabad
3,OWNER,2.0,BHK,Independent House,Sanand,13000.0,1285.0,Semi-Furnished,2.0,Ahmedabad
4,OWNER,2.0,BHK,Independent House,Navrangpura,18000.0,1600.0,Furnished,2.0,Ahmedabad

price,area

In [27]:
import numpy as np

In [28]:
df["price"]=np.log(df["price"])
df["area"]=np.log(df["area"])

In [29]:
df["seller_type"]=df["seller_type"].map({'OWNER':0,'AGENT':1,'BUILDER':2})
df["layout_type"]=df["layout_type"].map({'BHK':0,'RK':1})
df["property_type"]=df["property_type"].map({'Apartment':0,'Studio Apartment':1,'Independent House':2,'Independent Floor':3,'Villa':4,'Penthouse':5})
df["furnish_type"]=df["furnish_type"].map({'Furnished':0,'Semi-Furnished':1,'Unfurnished':2})
df["city"]=df["city"].map({'Ahmedabad':0,'Bangalore':1,'Chennai':2,'Delhi':3,'Hyderabad':4,'Kolkata':5,'Mumbai':6,'Pune':7})

In [30]:
df.drop("locality",axis=1,inplace=True)

dum=pd.get_dummies(df["locality"],drop_first=True)

dum.columns

dum2=pd.DataFrame(dum,columns=dum.columns)

df2=pd.concat([df,dum2],axis=1)

df2.drop("locality",axis=1,inplace=True)

df2.head()

## Modelling:

In [34]:
df.head()

,seller_type,bedroom,layout_type,property_type,price,area,furnish_type,bathroom,city
0,0,2.0,0,0,9.903488,7.279319,0,2.0,0
1,0,1.0,1,1,8.902456,5.347108,1,1.0,0
2,0,3.0,0,0,9.998798,7.549609,2,3.0,0
3,0,2.0,0,2,9.472705,7.158514,1,2.0,0
4,0,2.0,0,2,9.798127,7.377759,0,2.0,0

In [31]:
X=df.drop("price",axis=1)
y=df["price"]

In [32]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [33]:
from sklearn import metrics

In [35]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [37]:
metrics.r2_score(y_test,y_pred)

0.6551266497041028

In [38]:
import pickle

In [39]:
filename="house.pkl"

In [40]:
pickle.dump(model,open(filename,'wb'))

In [41]:
df.columns

Index(['seller_type', 'bedroom', 'layout_type', 'property_type', 'price',
       'area', 'furnish_type', 'bathroom', 'city'],
      dtype='object')